body {
    padding-top: 80px;
}

input[type=submit], input[type=button] {
    margin: 50px 5px 10px 5px;
    text-transform: capitalize;
}

a {
    text-transform: capitalize;
}

table tr td {
    vertical-align: middle;
}

.nameColumn {
    width: 150px;
}

.colorColumn {
    width: 100px
}

.editColumn {
    width: 31px;
}
